
<div class="row ">
    <div class="col-12">
      <h1> Augusto INC</h1>

      <h2>Hola visitante, <br/><br/>
        Esta es una aplicacion creada para la materia <sup>o</sup> TECNOLOGIAS WEB <sup>o</sup><br/><br/>
        Can't belive that it worked.
        <br/><br/>
        Para la Universidad<span></span>
        <br/><br/>
       
        <p><span style="text-align:right; color:#000000; font-size:18px;">* todos los derechos reservados y los izquierdos tambien.</span></p>
      </h2>
    </div>
    

  </div>


