
<div class="row text-center">
    <div class="col-12">
      <h1> Augusto INC</h1>
      <br/><br/>
      <h2>Hola visitante, <br/><br/>
        Esta es una aplicacion creada para la materia <sup>o</sup> TECNOLOGIAS WEB <sup>o</sup><br/><br/>
        Can't belive that it worked.
        <br/><br/>
        Para la Universidad<span></span>
        <br/><br/>
       
        <p><span style="text-align:right; color:#000000; font-size:18px;">* todos los derechos reservados y los izquierdos tambien.</span></p>
      </h2>
    </div>
    <div class="responsive center">
    <img  src="https://c.tenor.com/CL3erQ4G-nMAAAAd/eric-head.gif" alt=""> 
  </div>
  </div>

  <style>
    .responsive {
      width: 100%;
      max-width: 400px;
      height: auto;
      text-align: center;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>
