<table class="table table-striped">
    <thead>
      <tr>
       
        <!--<th scope="col">Id</th>-->
        <th scope="col">Tipo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Caracteristicas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dispositivo of dispositivos">
        <!--<th ><img [src]="dispositivo.image"></th>
        <th scope="row">{{dispositivo.id}}</th>-->
      
        <td>{{dispositivo.tipo}}</td>
        <td>{{dispositivo.nombre}}</td>
        <td>{{dispositivo.caracteirtica.valor}}</td>
      </tr>
     
    </tbody>
  </table>